a {
  color: inherit;
  @extend .b;
  @extend .states;
  @extend .no-underline;
  @extend .transition-fast;
}

.spacefarm:hover {
  color: #5538fa !important;
  opacity: 1;
}

.twitter:hover {
  color: #55acee !important;
  opacity: 1;
}

.medium:hover {
  color: #5cffa0 !important;
  opacity: 1;
}

.dribbble:hover {
  color: #ea4c89 !important;
  opacity: 1;
}

.instagram:hover {
  color: #405de6 !important;
  opacity: 1;
}
