</div>
<footer>
    <div class="tc flex-md justify-between mw6 mw7-sm pv3 bt b-grey center">
        <ul class="flex justify-between justify-start-md flex-wrap list-reset b li mb0 mhn2">
            {% for socialMedia in site.data.social %}
                <li><a href="{{socialMedia.link}}" class="{{socialMedia.name | downcase}} no-underline pa2 db transition-fast" target="blank">{{socialMedia.name}}</a></li>
            {% endfor %}
        </ul>

        <div>
            <p class="lh-copy pv2 mb0">
                <a href="#" class="js-night no-underline" title="Toggle night mode" style="vertical-align: -.16em">😎</a> {{ site.time | date: '%Y' }} Darin Dimitroff
            </p>
        </div>
    </div>
</footer>

<script>
    // Vars
    var nightButton = document.querySelector('.js-night'),
        html = document.querySelector('html'),
        nightButton = document.querySelector('.js-night');

    // Define night mode
    function toggleNightMode() {
        event.preventDefault();
        // Add .night class
        html.classList.toggle('night');
        // Switch Emoji
        nightButton.innerHTML = (this.innerHTML === '😎' ? '😳' : '😎');
    }

    // Toggle night mode on click
    nightButton.addEventListener("click", toggleNightMode);
</script>
</div>
</div>
</body>
</html>
