<footer class="ph3">
    <div class="tc flex-md justify-between mw6 mw7-md pt2 bt b-grey-25 center">
        <ul class="flex justify-between flex-wrap list-reset b li mb0 mhn2">
            <li><a href="http://www.twitter.com/deezel" class="twitter no-underline pa2 db" target="blank">Twitter</a></li>
            <li><a href="https://dribbble.com/deezel" class="dribbble no-underline pa2 db" target="blank">Dribbble</a></li>
            <li><a class="medium no-underline pa2 db" href="https://medium.com/@deezel" target="blank">Medium</a></li>
            <li><a class="instagram no-underline pa2 db" href="https://www.instagram.com/ddimitrovd/" target="blank">Instagram</a></li>
        </ul>

        <div>
            <p class="lh-copy pv2 mb3">
                <a href="#" class="js-night no-underline" title="Toggle night mode" style="vertical-align: -.16em">😎</a> 2016 Darin Dimitroff
            </p>
        </div>
    </div>
</footer>

<script>
    // Vars
    var nightButton = document.querySelector('.js-night'),
        html = document.querySelector('html'),
        nightButton = document.querySelector('.js-night');

    // Define night mode
    function toggleNightMode() {
        event.preventDefault();
        // Add .night class
        html.classList.toggle('night');
        // Switch Emoji
        nightButton.innerHTML = (this.innerHTML === '😎' ? '😳' : '😎');
    }

    // Toggle night mode on click
    nightButton.addEventListener("click", toggleNightMode);
</script>

</body>
</html>
