<div class="mwtxt pt5 overflow-hidden mb4">
    <h1 class="f1 lh-title mb3 b"><span class="hello-emoji">👋</span> Hey, I'm Darin</h1>

    <p class="mb0">A technical product designer with a thing for design systems. Currently working on Chop-Chop, my cooking/fitness/health startup and taking contract work. Before that, I spent 4 years working on the future of design tools and the web as one of Webflow's first designers. And in another life before that, I started one of the first dedicated product design agencies in Bulgaria.</p>
</div>
