@use "../scss/_colors" as *;

.ba { border-style: solid; border-width: 1px; }
.bt { border-top-style: solid; border-top-width: 1px; }
.br { border-right-style: solid; border-right-width: 1px; }
.bb { border-bottom-style: solid; border-bottom-width: 1px; }
.bl { border-left-style: solid; border-left-width: 1px; }
.bn { border-style: none; border-width: 0; }

.b--grey {
  border-color: $grey;
}

.b--smoke {
  border-color: $smoke;
}

.b--white {
  border-color: $white;
}

.b--black {
  border-color: $black;
}

.b--transparent {
  border-color: transparent;
}
