@use "../scss/_colors" as *;
@use "../scss/_spacing" as *;

.cms {
  position: relative;
  p {
    margin-bottom: 1rem;
  }
  h2, h3, h4, h5, h6 {
    @extend .b !optional;
    @extend .lh-title !optional;
    @extend .mb2 !optional;
  }
  h2 { font-size: 1.953rem; }
  h3 { font-size: 1.563rem; }
  h4 { font-size: 1.25rem; }
  h5 { font-size: 1rem; }
  h6 { font-size: .8rem; }

  & a {
    @extend .b !optional;
    transition: var(--hover-transition);
    &:hover {
      text-decoration: underline;
    }
  }

  img {
    border-radius: .2rem;
    display: block;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px 0 rgba($black, .07), 0 2px 10px 0 rgba($black, .03);
    overflow: hidden;
    &.big-image {
      border-radius: 0;
    }
  }

  /* Lists */
  ul, ol, li {
    position: relative;
    list-style: none;
  }

  pre {
    font-family: Input Mono, Menlo, Fira Mono, Roboto Mono, monospace;
    @extend .f6 !optional;
  }

  ul, ol {
    margin-bottom: $spacing-medium;
  }

  video {
    display: block;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px 0 rgba($black, .07), 0 2px 10px 0 rgba($black, .03);
    border-radius: .2rem;
  }

  ul ul, ol ol {
    padding-left: $spacing-small;
  }

  ul {
    margin-left: 1rem;
    >li:before {
      content: '∙';
      left: -1rem;
      position: absolute;
      color: $smoke;
      top: 0rem;
    }
  }

  blockquote {
    @extend .f4 !optional;
    @extend .b !optional;
    @extend .pa3 !optional;
    @extend .br1 !optional;
    @extend .mb3 !optional;
    p:last-child {
      margin-bottom: 0;
    }
  }

}
