@font-face {
  font-family: 'Avenir Next Rounded';
  src: local('Avenir Next Rounded'),
       url('../fonts/AvenirNextRounded-Bold.woff2') format('woff2'),
       url('../fonts/AvenirNextRounded-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}