@font-face
{
    font-family: 'GT Eesti';
    font-weight: normal;
    font-style: normal;

    src:
      url('../fonts/GTEestiProText-Regular.woff2') format('woff2'),
}

@font-face
{
    font-family: 'GT Eesti';
    font-weight: bold;
    font-style: normal;

    src:
      url('../fonts/GTEestiProDisplay-Bold.woff2') format('woff2'),
}
