.states {
    -webkit-tap-highlight-color: $highlight;
    transition: opacity 100ms ease;
    &:hover {
      opacity: .75;
    }
    &:active {
    opacity: .35;
    }
}

.card {
    transition: $hover-transition;
    &:hover {
        opacity: 1;
        box-shadow: 0 0 10px 0 rgba($black, .07), 0 5px 40px 0 rgba($black, .03);
    }
    &:hover>.arrow:after {
        transform: translateX(.15rem);
    }
}

.arrow {
    &:after {
        transition: transform 100ms ease;
        content: '→';
        display: inline-block;
    }
}
