.states {
    -webkit-tap-highlight-color: rgba($highlight, .25);
    transition: opacity 100ms ease;
    &:hover {
      opacity: .75;
    }
    &:active {
    opacity: .35;
    }
}

.card {
    transition: $hover-transition;
    box-shadow: 0 0 4px 0 rgba($black, .07), 0 2px 10px 0 rgba($black, .03);
    transform: translateZ(0);
    &:hover {
        opacity: 1;
        box-shadow: 0 0 10px 0 rgba($black, .07), 0 5px 40px 0 rgba($black, .03);
        transform: translateY(-.15rem) scale(1.01) translateZ(0);
    }
    &:active {
        opacity: 1;
        box-shadow: 0 0 2px 0 rgba($black, .12), 0 1px 5px 0 rgba($black, .06);
        transform: translateZ(0);
    }
    &:hover>.arrow:after {
        transform: translateX(.15rem);
    }
}

.arrow {
    &:after {
        transition: transform 100ms ease;
        content: '→';
        display: inline-block;
    }
}
