@use "../scss/_colors" as *;
@use "../scss/_spacing" as *;

.list {
  list-style: none;
  padding-left: 0;
}

.ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

/* Lists */
.ul, .ol, li {
  position: relative;
}

pre {
  font-family: Input Mono, Menlo, Fira Mono, Roboto Mono, monospace;
  @extend .f6 !optional;
}

.ul .ul, .ol .ol {
  padding-left: $spacing-small;
}

.ul, .ol {
 list-style-position: inside;
}

.ul {
  list-style: none;
  margin-left: 1rem;
  >li:before {
    content: '●';
    left: -1rem;
    position: absolute;
    color: $smoke;
    top: .08em;
  }
}

.ol {
  list-style: none;
  margin-left: $spacing-medium;
  counter-reset: i 0;
  >li:before {
    font-weight: 800;
    left: -$spacing-medium;
    position: absolute;
    height: 100%;
    content: counter(i);
    counter-increment: i;
    color: $smoke;
  }
}
