.list {         list-style-type: none; }

/* Lists */
.ul, ol, li {
  position: relative;
}

pre {
  font-family: Input Mono, Menlo, Fira Mono, Roboto Mono, monospace;
  @extend .f6;
}

.ul, ol {
  margin-bottom: $spacing-medium;
}

.ul .ul, ol ol {
  padding-left: $spacing-small;
}

.ul {
  list-style: none;
  margin-left: 1rem;
  >li:before {
    content: 'â—';
    left: -1rem;
    position: absolute;
    color: $smoke;
    top: 3.5%;
  }
}

& ol {
  list-style: none;
  margin-left: $spacing-medium;
  counter-reset: i 0;
  & >li:before {
    font-weight: 800;
    left: -$spacing-medium;
    position: absolute;
    height: 100%;
    content: counter(i);
    counter-increment: i;
    color: $smoke;
  }
}
