.night
{
  nav {
    background-color: darken($black, 3);
    border-bottom-color: rgba($smoke, .25);
  }
  body {
    background-color: $black;
    color: $white;
  }
  .bg-grey {
    background-color: $smoke;
    color: $white!important;
  }
  .b-grey {
    border-color: $smoke;
  }
  ::selection {
    background-color: rgba($grey, .3);
    color: inherit;
  }
  .grey {
    color: $smoke;
  }
  .card {
      background-color: $burn!important;
  }
  .longform
  {
      a
      {
          background-color: rgba($grey, .4);
          &:hover
          {
              color: $white;
              background-color: $grey;
              &:active
              {
                  opacity: .4;
              }
          }
      }
      li {
        &::before {
          color: $smoke;
        }
      }
  }

}
