@use "sass:color";
@use "../scss/_colors" as *;

* {
	box-sizing: border-box;
}

::selection {
	color: color.scale($black, $lightness: -1.7790697674%);
	background-color: $highlight;
}

.longform {
	h2 {
		@extend .f2 !optional;
		@extend .b !optional;
		@extend .lh-title !optional;
		@extend .mb1 !optional;
	}

	h3 {
		@extend .f4 !optional;
		@extend .b !optional;
		@extend .lh-title !optional;
		@extend .mb1 !optional;
	}

	h4 {
		@extend .f5 !optional;
		@extend .b !optional;
		@extend .lh-title !optional;
		@extend .mb1 !optional;
	}

	h5 {
		@extend .f6 !optional;
		@extend .b !optional;
		@extend .lh-title !optional;
		@extend .mb1 !optional;
	}

	h6 {
		@extend .f7 !optional;
		@extend .b !optional;
		@extend .lh-title !optional;
		@extend .mb1 !optional;
	}

	img {
		@extend .mw-100 !optional;
	}

	p {
		margin-bottom: 1rem;
	}
}

.drop {
	transform: translateY(0);
}

.lift {
	transform: translateY(-100%);
}

.arrow:after {
	content: "→";
	padding-left: 0.2em;
	vertical-align: -.035em;
}
