* {
	box-sizing: border-box;
}

::selection {
	color: darken($black, .3);
	background-color: $highlight;
}

.longform {

	h2 {
		@extend .f2;
		@extend .b;
		@extend .lh-title;
		@extend .mb1;
	}

	h3 {
		@extend .f4;
		@extend .b;
		@extend .lh-title;
		@extend .mb1;
	}

	h4 {
		@extend .f5;
		@extend .b;
		@extend .lh-title;
		@extend .mb1;
	}

	h5 {
		@extend .f6;
		@extend .b;
		@extend .lh-title;
		@extend .mb1;
	}

	h6 {
		@extend .f7;
		@extend .b;
		@extend .lh-title;
		@extend .mb1;
	}

	img {
		@extend .mw-100;
	}
}

.drop {
	transform: translateY(0);
}

.lift {
	transform: translateY(-100%);
}

.arrow:after {
	content: "→";
	padding-left: 0.2em;
	vertical-align: -.035em;
}
