@use "../scss/_media-queries" as mq;
@use "../scss/_colors" as *;

table
{
  @extend .br1 !optional;
  @extend .overflow-hidden !optional;
}

td, th {
  @extend .pa3 !optional;
}

th:not(:first-child), td:not(:first-child) {
  @extend .tr !optional;
}

th {
  @extend .grey-3 !optional;
  @extend .fw6 !optional;
  @extend .nowrap !optional;
  @include mq.lg {
    white-space: wrap;
  }
}

tr th {
  @extend .tl !optional;
}

tbody tr:nth-child(even) {
  background-color: lighten($grey-3, 36%);
}
