@use "../scss/_media-queries" as mq;
@use "../scss/_colors" as *;
@use "../scss/_transitions" as *;

html
{
    font-size: 22px;

    @include mq.md
    {
        font-size: 24px;
    }
    @include mq.xl
    {
        font-size: 26px;
    }
}

body
{
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-family: 'GT Eesti Pro Text';
    line-height: 1.45;

    color: $black;
    background-color: $white;

    transition: $animation-transition;

}

p  {
    @extend .mb3 !optional;
}

strong, .b {
  font-weight: bold;
}

blockquote {
  @extend .bg-fff !optional;
  @extend .pa3 !optional;
  @extend .mb3 !optional;
  @extend .br1 !optional;
  p {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'GT Eesti Pro Display'!important;
  font-weight: 800!important;
}