@use "../scss/_media-queries" as mq;
@use "../scss/_colors" as *;
@use "../scss/_transitions" as *;

html
{
    font-size: 18px;

    @include mq.md
    {
        font-size: 18px;
    }
    @include mq.xl
    {
        font-size: 20px;
    }
}

body
{
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4;
    font-weight: 500;
    color: $black;
    background-color: $white;
    transition: $animation-transition;
}

p  {
    @extend .mb3 !optional;
}

strong, .b {
  font-weight: bold;
}

blockquote {
  @extend .bg-fff !optional;
  @extend .pa3 !optional;
  @extend .mb3 !optional;
  @extend .br1 !optional;
  p {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Next Rounded' !important;
  font-weight: 800 !important;
  font-style: normal;
}